@mixin tag($showCross: true) {
  margin: 0 4px 8px;
  background-color: $yellow;
  color: $white;
  border-radius: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  padding: 11px;

  @if $showCross {
    padding: 11px 11px 11px 32px;

    &__close {
      position: absolute;
      left: 11px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      cursor: pointer;

      &:before, &:after {
        position: absolute;
        left: 6px;
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: $white;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  @media screen and (min-width: $bp-md) {
    margin: 0 4px;
  }
}