.filterpanel {
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  right: 0;
  transition: transform 0.3s;
  z-index: 10;
  width: 250px;
  background-color: $white;
  box-sizing: border-box;
  transform: translateX(100%);

  @media screen and (min-width: $bp-md) {
    width: 350px;
  }

  &.--opened {
    transform: translateX(0);
  }

  &__header {
    padding: 28px 20px;
    display: flex;
    justify-content: space-between;
    width: auto;

    &__item {
      font-size: 11px;
      font-weight: 500;
      cursor: pointer;

      &.--empty {
        color: #ACACAC;
        cursor: inherit;
      }
    }
  }

  &__content {
    padding: 52px 20px;
  }

  &__title {
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__tag {
    font-size: 9px;
    color: #ACACAC;
    padding-bottom: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;

    input[type=checkbox] {
      margin-left: auto;
      appearance: none;
      background-color: #fff;
      font: inherit;
      width: 12px;
      height: 12px;
      box-sizing: border-box;
      padding: 2px;
      border: 1px solid $black;

      &:before {
        content: "";
        width: 6px;
        display: block;
        height: 6px;
        transform: scale(0);
        transition: 0.1s transform ease-in-out;
        background-color: $yellow;
      }
    }

    input[type=checkbox]:checked {
      &:before {
        transform: scale(1);
      }
    }
  }
}