.dish {
  margin-bottom: 54px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $bp-md) {
    width: 48%;
  }

  &__time {
    text-transform: uppercase;
    position: absolute;
    background-color: rgba($timeTag, .8);
    border-radius: 16px;
    font-size: 14px;
    font-weight: bold;
    padding: 9px;
    display: flex;
    align-items: center;
    color: $white;
    top: 26px;
    left: 26px;

    svg {
      width: 20px;
      margin-right: 8px;
    }
  }

  &__img {
    position: relative;
    max-height: 500px;
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 16px;
    }

    @media screen and (min-width: $bp-md) {
      max-height: 300px;
    }

    @media screen and (min-width: $bp-lg) {
      max-height: 470px;
    }
  }

  &__content {
    margin-top: 22px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bp-md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;

    @media screen and (min-width: $bp-md) {
      margin-bottom: 0;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
  }

  &__tag {
    @include tag($showCross: false);
    margin: 0 8px 0 0;
  }
}