.home {
  &__title {
    text-align: center;
    color: $gray;
    font-size: 54px;
    margin-bottom: 25px;
    margin-top: 74px;

    @media screen and (min-width: $bp-md) {
      font-size: 72px;
    }

    &--accent {
      color: $yellow;
    }
  }

  &__search {
    position: relative;
    width: calc(100% - 40px);
    box-sizing: border-box;
    margin: 0 20px;
    z-index: 0;

    @media screen and (min-width: $bp-lg) {
      margin: 0 auto;
      width: 700px;
    }
  }

  &__input {
    width: 100%;
    border-radius: 16px;
    background-color: $lightGray;
    color: $darkGray;
    display: block;
    font-weight: bold;
    font-size: 18px;
    border: 0;
    height: 50px;
    box-sizing: border-box;
    padding: 15px 80px;
    outline: none;

    &::placeholder {
      color: $gray;
      font-size: 14px;
    }
  }

  &__iconSearch {
    width: 28px;
    height: 28px;
    position: absolute;
    left: 24px;
    top: 11px;
  }

  &__iconFilter {
    width: 34px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 5px;
    background-color: $white;
    padding: 5px;
    border-radius: 16px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .25);
  }
}