.add {
  color: $yellow;
  border: 1px solid currentColor;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 50px;
  max-width: 50px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  border-radius: 50%;
  font-weight: bold;
  font-size: 30px;
  position: fixed;
  right: 30px;
  z-index: 9;
  bottom: 30px;

  span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: $yellow;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &:hover {
    color: $white;

    span {
      width: 225%;
      height: calc(75px * 2);
    }
  }

  &:active {
    background-color: $yellow;
  }
}
