.dishlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;

  @media screen and (min-width: $bp-md) {
    margin: 0 40px;
  }

  @media screen and (min-width: $bp-lg) {
    margin: 0;
  }
}