.modaldish {
  background-color: $white;
  width: 100%;
  max-height: 90vh;
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 20px;
  bottom: 0;
  transition: max-height .3s ease-in-out;

  @media screen and (min-width: $bp-md) {
    border-radius: 8px;
    max-width: 600px;
    padding: 50px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__close {
    position: absolute;
    right: 11px;
    top: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:before, &:after {
      position: absolute;
      left: 6px;
      content: ' ';
      height: 16px;
      width: 2px;
      background-color: $black;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    margin-bottom: 32px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 50%;
      width: 30%;
      background-color: $yellow;
      z-index: -1;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 60vh;
    overflow-y: auto;

    @media screen and (min-width: $bp-md) {
      max-height: unset;
    }
  }

  &__labelname {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;
  }

  &__inputgroup {
    margin-bottom: 12px;

    &.col-1 {
      width: 100%;

      @media screen and (min-width: $bp-md) {
        width: 48%;
      }
    }

    &.col-2 {
      width: 100%;
    }

    input {
      width: 100%;
      display: block;
      box-sizing: border-box;
      padding: 16px;
      border: 2px solid $gray;
      border-radius: 4px;
      outline: none;
      color: $darkGray;
      font-weight: 600;
      font-size: 16px;

      &::placeholder {
        color: $gray;
        font-style: italic;
        font-weight: normal;
      }
    }
  }

  &__selectedtags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 16px 20px;
    border: 2px solid $gray;
    border-radius: 4px;
    outline: none;
    color: $darkGray;
    font-weight: 600;
    font-size: 16px;
    position: relative;

    &.--open {
      border-bottom: 0;
    }

    &__arrow {
      position: absolute;
      width: 20px;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      cursor: pointer;
      z-index: 1;

      &.--opened {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &__selectedtag {
    @include tag();
    margin-bottom: 8px;
  }

  &__tags {
    margin-top: -2px;
    max-height: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

    &.--show {
      transition: max-height 1s ease-in-out;
      border-right: 2px solid $gray;
      border-left: 2px solid $gray;
      border-bottom: 2px solid $gray;
      max-height: 500px;
    }
  }

  &__tag {
    padding: 12px 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: $lightGray;
    }
  }

  .file-input {
    display: flex;

    &-item {
      width: 75px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: lightgrey;
      border-radius: 8px;

      label {
        color: lightgray;
        background-color: $white;
        padding: 12px;
        text-align: center;
        font-size: 20px;
        line-height: .6;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    &__img {
      img {
        width: 75px;
        height: 75px;
        object-fit: cover;
        border-radius: 8px;
        margin-left: 12px;
      }
    }

    .input-file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }

  &__add {
    max-width: 75px;
    border-radius: 16px;
    border: 2px solid $yellow;
    padding: 16px;
    color: $yellow;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    span {
      width: 0;
      height: 100%;
      background-color: $yellow;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      color: $white;

      span {
        width: 200%;
      }
    }
  }
}